<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployments" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <deployments>
    <Configs>


      <ConfigurationGroup name="release-deployment">
        <ValueItems>          
          <ValueItem key="MsDeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy\msdeploy.exe"/>
          <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
          <ValueItem key="DestinationContentPath" value="c:\websites-installer"/>
          <ValueItem key="DestinationUserName" value="administrator"/>
          <ValueItem key="DestinationPassword" value="password"/>
          <ValueItem key="CleanUp" value="true"/>
          <ValueItem key="ForceInstall" value="false"/>
        </ValueItems>
        <Collections>

          <Collection name="InstallAppPool">
            <ValueItems>
              <ValueItem key="ComponentType" value="AppPoolCreation"/>
              <ValueItem key="SourceContentPath" value="IIS-Configuration"/>
              <ValueItem key="PathToConfigFile" value="appPool.config"/>
            </ValueItems>
          </Collection>

          <Collection name="Siteinstall">
            <ValueItems>
              <ValueItem key="ComponentType" value="WebSiteCreation"/>
              <ValueItem key="SourceContentPath" value="IIS-Configuration" />
              <ValueItem key="PathToConfigFile" value="mvcApp1Site.config"/>
            </ValueItems>
          </Collection>

          <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="MvcApplication1\MvcApplication1\MvcApplication1.csproj" />
              <ValueItem key="InternalPath" value="C:\websites\MyTestApp1" />
              <ValueItem key="ConfigurationType" value="Release" />
              <ValueItem key="OutputLocation" value="output\myTestApp1.zip" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="output\myTestApp1.zip" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>
      
    </Configs>
  </deployments>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
