<?xml version="1.0" encoding="UTF-8"?>
<appcmd>
    <APPPOOL APPPOOL.NAME="mvcapp1" PipelineMode="Integrated" RuntimeVersion="v4.0" state="Started">
        <add name="mvcapp1" managedRuntimeVersion="v4.0">
            <processModel />
            <recycling>
                <periodicRestart>
                    <schedule>
                    </schedule>
                </periodicRestart>
            </recycling>
            <failure />
            <cpu />
        </add>
    </APPPOOL>
</appcmd>