<?xml version="1.0" encoding="UTF-8"?>
<appcmd>
    <SITE SITE.NAME="mvcapp1" SITE.ID="5" bindings="http/*:5678:" state="Started">
        <site name="mvcapp1" id="621">
            <bindings>
                <binding protocol="http" bindingInformation="*:5678:" />
            </bindings>
            <limits />
            <logFile />
            <traceFailedRequestsLogging />
            <applicationDefaults />
            <virtualDirectoryDefaults />
            <ftpServer>
                <connections />
                <security>
                    <dataChannelSecurity />
                    <commandFiltering>
                    </commandFiltering>
                    <ssl />
                    <sslClientCertificates />
                    <authentication>
                        <anonymousAuthentication />
                        <basicAuthentication />
                        <clientCertAuthentication />
                        <customAuthentication>
                            <providers>
                            </providers>
                        </customAuthentication>
                    </authentication>
                </security>
                <customFeatures>
                    <providers>
                    </providers>
                </customFeatures>
                <messages />
                <fileHandling />
                <firewallSupport />
                <userIsolation>
                    <activeDirectory />
                </userIsolation>
                <directoryBrowse />
                <logFile />
            </ftpServer>
            <application path="/" applicationPool="mvcapp1">
                <virtualDirectoryDefaults />
                <virtualDirectory path="/" physicalPath="C:\websites\MyTestApp1" />
            </application>
        </site>
    </SITE>
</appcmd>