<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployments" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <appSettings>
    <add key="msdeploylocation" value=""/>
  </appSettings>
  
  <deployments>
    <Configs>

      <ConfigurationGroup name="localtestSetup">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="localhost"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>        
<!--          <Collection name="CopyWebsite">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="FileDeployment"/>-->
<!--              <ValueItem key="SourceContentPath" value="C:\temp\deploy\Website"/>-->
<!--              <ValueItem key="DestinationContentPath" value="c:\websites\deploytest"/>                        -->
<!--            </ValueItems>-->
<!--          </Collection>          -->
          <Collection name="RemoveAppPool">
            <ValueItems>
              <ValueItem key="ComponentType" value="AppPoolRemoval"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deploy\installer"/>
              <ValueItem key="PathToConfigFile" value="pool.config"/>              
            </ValueItems>
          </Collection>
<!--          <Collection name="InstallAppPool">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="AppPoolCreation"/>-->
<!--              <ValueItem key="SourceContentPath" value="C:\temp\deploy\installer"/>-->
<!--              <ValueItem key="PathToConfigFile" value="pool.config"/>-->
<!--            </ValueItems>-->
<!--          </Collection>-->
        </Collections>
      </ConfigurationGroup>

      <ConfigurationGroup name="remotetestSetup">
        <ValueItems>          
          <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
          <ValueItem key="DestinationUserName" value="administrator"/>
          <ValueItem key="DestinationPassword" value="password"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>
<!--          <Collection name="CopyWebsite">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="FileDeployment"/>-->
<!--              <ValueItem key="SourceContentPath" value="C:\temp\deploy\Website"/>-->
<!--              <ValueItem key="DestinationContentPath" value="c:\websites\deploytest"/>-->
<!--            </ValueItems>-->
<!--          </Collection>-->
<!--          <Collection name="InstallAppPool">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="AppPoolCreation"/>-->
<!--              <ValueItem key="ForceInstall" value="true"/>-->
<!--              <ValueItem key="SourceContentPath" value="C:\temp\deploy\installer"/>-->
<!--              <ValueItem key="DestinationContentPath" value="c:\websites-installer"/>-->
<!--              <ValueItem key="PathToConfigFile" value="pool.config"/>-->
<!--            </ValueItems>-->
<!--          </Collection>-->
          <Collection name="RemoveAppPool">
            <ValueItems>
              <ValueItem key="ComponentType" value="AppPoolRemoval"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deploy\installer"/>
              <ValueItem key="DestinationContentPath" value="c:\websites-installer"/>
              <ValueItem key="PathToConfigFile" value="pool.config"/>
            </ValueItems>
          </Collection>
        </Collections>
      </ConfigurationGroup>
      
     
      <ConfigurationGroup name="pokerleague">
        <ValueItems>
          <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>
          <ValueItem key="AppCmdExe" value="C:\Windows\System32\inetsrv\appcmd.exe"/>
          <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
          <ValueItem key="DestinationUserName" value="administrator"/>
          <ValueItem key="DestinationPassword" value="password"/>
        </ValueItems>
        <Collections>
          <Collection name="Copyinstaller">
            <ValueItems>
              <ValueItem key="ComponentType" value="FileInstaller"/>              
              <ValueItem key="DeploymentType" value="MsDeploy"/>              
              <ValueItem key="SourceContentPath" value="C:\temp\deploy"/>              
              <ValueItem key="DestinationContentPath" value="c:\websites\installer"/>              
            </ValueItems>
          </Collection>
<!--          <Collection name="CopyWebsite">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="FileInstaller"/>-->
<!--              <ValueItem key="DeploymentType" value="MsDeploy"/>-->
<!--              <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>-->
<!--              <ValueItem key="SourceContentPath" value="C:\temp\deploy"/>-->
<!--              <ValueItem key="DestinationContentPath" value="c:\websites\installer"/>-->
<!--              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>-->
<!--              <ValueItem key="DestinationUserName" value="administrator"/>-->
<!--              <ValueItem key="DestinationPassword" value="password"/>-->
<!--            </ValueItems>-->
<!--          </Collection>          -->
          <Collection name="InstallAppPool">            
            <ValueItems>
              <ValueItem key="ComponentType" value="AppPoolInstaller"/>
              <ValueItem key="ForceInstall" value="true"/>
              <ValueItem key="LocalInstallFolder" value="C:\temp\deploy"/>
              <ValueItem key="RemoteInstallFolder" value="C:\websites\installer"/>
              <ValueItem key="PathToConfigFile" value="pokerleagueAppPoolSettings.xml"/>
              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
              <ValueItem key="DestinationUserName" value="administrator"/>
              <ValueItem key="DestinationPassword" value="password"/>
            </ValueItems>
          </Collection>
<!--          <Collection name="RemoveTestFolder">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="FileRemover"/>-->
<!--              <ValueItem key="DeploymentType" value="MsDeploy"/>-->
<!--              <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>-->
<!--              <ValueItem key="DestinationContentPath" value="c:\websites\test"/>-->
<!--              <ValueItem key="DeleteRemoteFolder" value="true"/>-->
<!--              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>-->
<!--              <ValueItem key="DestinationUserName" value="administrator"/>-->
<!--              <ValueItem key="DestinationPassword" value="password"/>-->
<!--            </ValueItems>-->
<!--          </Collection>-->
<!--          <Collection name="RemoveAppPool">-->
<!--            <ValueItems>-->
<!--              <ValueItem key="ComponentType" value="AppPoolRemover"/>-->
<!--              <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>-->
<!--              <ValueItem key="AppCmdExe" value="C:\Windows\System32\inetsrv\appcmd.exe"/>-->
<!--              <ValueItem key="LocalInstallFolder" value="C:\temp\deploy"/>-->
<!--              <ValueItem key="RemoteInstallFolder" value="C:\websites\installer"/>-->
<!--              <ValueItem key="ItemToRemove" value="pokerleague"/>-->
<!--              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>-->
<!--              <ValueItem key="DestinationUserName" value="administrator"/>-->
<!--              <ValueItem key="DestinationPassword" value="password"/>-->
<!--            </ValueItems>-->
<!--          </Collection>-->
          <Collection name="InstallWesbSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="WebSiteInstaller"/>
              <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deploy"/>
              <ValueItem key="DestinationContentPath" value="c:\websites\installer"/>
              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
              <ValueItem key="DestinationUserName" value="administrator"/>
              <ValueItem key="DestinationPassword" value="password"/>
            </ValueItems>
          </Collection>
          <Collection name="InstallVirtualDirectory">
            <ValueItems>
              <ValueItem key="ComponentType" value="VdirInstaller"/>
              <ValueItem key="MsdeployExe" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deploy"/>
              <ValueItem key="DestinationContentPath" value="c:\websites\installer"/>
              <ValueItem key="DestinationComputerName" value="192.168.10.98:8172"/>
              <ValueItem key="DestinationUserName" value="administrator"/>
              <ValueItem key="DestinationPassword" value="password"/>
            </ValueItems>
          </Collection>
        </Collections>
      </ConfigurationGroup>
    </Configs>
  </deployments>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
