<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployments" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <deployments>
    <Configs>


      <ConfigurationGroup name="DevDeploy-site-deployment">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="localhost"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>
          
           <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="..\Apps\Opus.Web\Opus.web.csproj" />
              <ValueItem key="InternalPath" value="C:\websites\opus-dev" />
              <ValueItem key="ConfigurationType" value="DevDeploy" />
              <ValueItem key="OutputLocation" value="output\opusWeb.zip" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="output\opusWeb.zip" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>



      <ConfigurationGroup name="DevDeploy-deployment">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="localhost"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>
          
           <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="..\Apps\Opus.Web\Opus.web.csproj" />
              <ValueItem key="InternalPath" value="c:\temp\deployments\opusWeb" />
              <ValueItem key="ConfigurationType" value="DevDeploy" />
              <ValueItem key="OutputLocation" value="output\opusWeb.zip" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="output\opusWeb.zip" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>




      <ConfigurationGroup name="DevDeploy-db-migrate">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="https://10.0.103.5:8172/msdeploy.axd"/>
          <ValueItem key="CleanUp" value="false"/>
          <ValueItem key="AllowUntrusted" value="true"/>
        </ValueItems>
        <Collections>

          <Collection name="RemoteDetails">
            <ValueItems>
              <ValueItem key="DestinationUserName" value="radmin" />
              <ValueItem key="DestinationPassword" value="2ws3ed$rf%tg^yh" />
              <ValueItem key="AuthType" value="Basic" />
            </ValueItems>
          </Collection>

          <Collection name="FileDeployment">
            <ValueItems>
              <ValueItem key="ComponentType" value="FileDeployment"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deployments\DevDeploy\" />
              <ValueItem key="DestinationContentPath" value="c:\temp\deploytest"/>
            </ValueItems>
          </Collection>

          <Collection name="run-migrate-update">
            <ValueItems>
              <ValueItem key="ComponentType" value="ApplicationExecution"/>
              <ValueItem key="SourceContentPath" value="C:\temp\deployments\DevDeploy\opusdb\updatedb.bat" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>

    </Configs>
  </deployments>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
