<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="deployments" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <deployments>
    <Configs>


      <ConfigurationGroup name="DevDeploy-site-deployment">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="localhost"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>
          
           <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="..\Apps\Web\web.csproj" />
              <ValueItem key="InternalPath" value="C:\websites\dev" />
              <ValueItem key="ConfigurationType" value="DevDeploy" />
              <ValueItem key="OutputLocation" value="output\web.zip" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="output\web.zip" />
                  <ValueItem key="TakeIisDown" value="true" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>



      <ConfigurationGroup name="DevDeploy-deployment">
        <ValueItems>
          <ValueItem key="DestinationComputerName" value="localhost"/>
          <ValueItem key="CleanUp" value="true"/>
        </ValueItems>
        <Collections>
          
           <Collection name="PackageSite">
            <ValueItems>
              <ValueItem key="ComponentType" value="CreatePackage"/>
              <ValueItem key="SourceContentPath" value="..\Apps\Web\web.csproj" />
              <ValueItem key="InternalPath" value="c:\temp\deployments\web" />
              <ValueItem key="ConfigurationType" value="DevDeploy" />
              <ValueItem key="OutputLocation" value="output\web.zip" />
              <ValueItem key="ZipFileOnly" value="true" />
            </ValueItems>
          </Collection>

          <Collection name="DeployPackage">
            <ValueItems>
              <ValueItem key="ComponentType" value="DeployPackage"/>
              <ValueItem key="SourceContentPath" value="output\web.zip" />
            </ValueItems>
          </Collection>

        </Collections>
      </ConfigurationGroup>

    </Configs>
  </deployments>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
